TODO
*.bak
.env

.idea/
.vscode/*
!.vscode/launch.json

www/*
!www/bitrix.local/
www/bitrix.local/bitrix_server_test.php
www/bitrix.local/restore.php

docker/logs/*
!docker/logs/.keep

docker/nginx/sites-available/*
!docker/nginx/sites-available/default.conf